<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="element-crear_nombre">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `element-crear_nombre`
     * El ultimo ejericio de todo el curso de polymer, tiene que ver con llamado a funciones usando campos de entrada
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class ElementCrear_nombre extends Polymer.Element {
      static get is() { return 'element-crear_nombre'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'element-crear_nombre'
          }
        };
      }
    }

    window.customElements.define(ElementCrear_nombre.is, ElementCrear_nombre);
  </script>
</dom-module>
